<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1"/>
	<link rel="stylesheet" href="css/foundation/css/foundation.min.css"/>
	<link rel="stylesheet" href="css/signup.css"/>
	<title>login</title>
</head>
<body>
	<div class="row">
		<div class="large-6 columns">
			<div class="signup-panel">
				<p class="welcome">welcome to erith park</p>
				<form action="/login" method="post">
					<div class="row collapse">
						<div class="small-2  columns">
							<span class="prefix"><i class="fi-torso-female"></i></span>
						</div>
						<div class="small-10 columns">
							<input type="text" name="username" placeholder="username">
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-2 columns ">
							<span class="prefix"><i class="fi-lock"></i></span>
						</div>
						<div class="small-10 columns ">
							<input type="text" name="password" placeholder="password">
						</div>
					</div>
					<input type="submit" class="button" value="submit">
				</form>
				
			</div>
		</div>
	</div>
</body>
</html>