

body{
  background-color:#fff;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin: 0;
}

.MyComponent {
  color: red;
}

#video{
  width: 100%
  height: auto;
  max-height: 100%;
}

#svg{
  position: absolute;
  top: 0px;
  left: 0px;
}

.footer{
    position: absolute;
    bottom: 0;
    height: 40px;
    font-size: 120%;
    width: 100%;
    text-align: center;
    z-index: 9999999;
}

.centered{
  text-align: center;
}

.use{
  background: url("../images/use.png");
  background-repeat: no-repeat;
  width: 160px;
  height: 170px;
  position: absolute;
  bottom: 62px;
  left: 0px;
  z-index: 9999999;
}

.cancel{
  background: url("../images/cancel.png");
  background-repeat: no-repeat;
  width: 209px;
  height: 190px;
  position: absolute;
  bottom: 155px;
  right: 0px;
  z-index: 9999999;
}

.takepicsmile{
  background: url("../images/smile.png");
  background-repeat: no-repeat;
  width: 321px;
  height: 93px;
  position: absolute;
  top: 30px;
  left: 20px;

}

.takepicheader{
  width: 100%;
  height: 80px;
  background: #66b5a0;
  position: absolute;
  top: 0;
  z-index: -999999;

}

.takepicbackground{
  background: url("../images/takingpic.png");
  background-repeat: no-repeat;
  width: 1153px;
  height: 379px;
  position: absolute;
  bottom: 0;
  z-index: -999999;
}


.messagebox{
  background: url("../images/messageback.png");
  background-repeat: no-repeat;
  width: 1045px;
  height: 599px;
  position: absolute;
  top: 30px;
  left: 54px;
  z-index: 999999;
}

.messagetext{
  font-size: 35px;
  text-align: center;
  height: 290px;
  padding: 20px;
  /*overflow-y: auto;*/
}

.takepicture-appear{
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.takepicture-appear.takepicture-appear-active{
  opacity: 1;
}

text{
  text-rendering: optimizeLegibility;
}

.hidden{
  display: none;
}

.visible{
  display: initial;
}

.navigation{
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 50px;
  background: #333333;
  text-align: center;
}

ul.navbar{
  font-size: 16px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: outside none none;
    background: none repeat scroll 0 0 #333333;
}

ul.navbar li{
  line-height: 50px;
  display: inline;
  padding-left: 20px;
}

ul.navbar li a.active{
  background: #f44336;
}

ul.navbar li a{
    color: #ffffff;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: normal;
    padding: 12px 0.9375rem 12px 0.9375rem;
    text-transform: none;
    text-decoration: none;
    width: 100%;
}